name: Mise à jour hebdomadaire du Top Ventes

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code du dépôt
        uses: actions/checkout@v3

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Installer les dépendances
        run: pip install requests

      - name: Exécuter le script de récupération
        env:
          RAKUTEN_API_ID: ${{ secrets.RAKUTEN_APP_ID }}
        run: python mon_script.py

      - name: Sauvegarder et publier les changements
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add top_ventes.json
          git commit -m "Mise à jour auto: $(date +'%Y-%m-%d')" || exit 0
          git push
